{% extends 'base.html' %}
{% load static %}
{% block content %}
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Our mission is to save victims, support survivors, and stop culprits.
                                <p class="lead fw-normal text-muted mb-4" style="padding-top: 20px;">Want to help? Consider reading on and learning about the warning signs of human trafficking.</p>
                                <a class="btn btn-primary btn-lg" style="background-color: darkblue; border: darkblue;" href="#scroll-target">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'img/bluecampaign.jpg' %}" alt="Homeland Security - Blue Campaign" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Blue Campaign - Homeland Security</h2>
                            <p class="lead fw-normal text-muted mb-0">Blue Campaign is a national public awareness campaign designed to educate the public, law enforcement, and other industry partners to recognize the indicators of human trafficking, and how to appropriately respond to possible cases. Homeland Security has resources for all to learn about human trafficking and discover what they can do to help. Visit <a href="https://www.dhs.gov/blue-campaign" target="_blank">Homeland Security's Website</a> for more information.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'img/children.jpg' %}" alt="Happy Children" /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Making the World a Better Place</h2>
                            <p class="lead fw-normal text-muted mb-0">The efforts we make now will not only help the victims of today, but will create a safe world for generations to come.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section three -->
           <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Learn the Signs</h2>
                                <p class="lead fw-normal text-muted mb-5">Educating yourself makes you more capable of making a difference.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'img/report.png' %}" alt="Report">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Report</div>
                                    <h5 class="card-title mb-3">How to Report</h5>
                                    <p class="card-text mb-0"><ul>
                                        <li>Do not confront a suspected trafficker</li>
                                        <li>Call 911 for emergency situations - violence, assault, medical needs, etc.</li>
                                        <li>If you are a victim, text BEFREE to 233733</li>
                                        <li>Utahns can report tips at the Utah Human Trafficking Tip Line at 801-200-3443. The 24-hour tip line is run by the Utah Attorney General’s Office and answered by a voicemail machine. Leave a message and you will be contacted.</li>
                                        <li>When making a report give as much detail as possible</li>
                                    </ul></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'img/warning.png' %}" alt="Warning Signs">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Signs</div>
                                    <h5 class="card-title mb-3">Recognize the Warning Signs</h5>
                                    <p class="card-text mb-0"><ul>
                                        <li>Individual appears malnourished</li>
                                        <li>There are signs of physical injuries/abuse</li>
                                        <li>Avoiding eye contact, social interaction, and authority figures/law enforcement</li>
                                        <li>Seeming to adhere to scripted or rehearsed responses in social interaction</li>
                                        <li>Lacking official identification documents</li>
                                        <li>Appearing destitute/lacking personal possessions</li>
                                        <li>Working excessively long hours</li>
                                        <li>Living at place of employment</li>
                                    </ul></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% static 'img/support.png' %}" alt="Support"><br>
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Support</div>
                                    <h5 class="card-title mb-3">Learn how to support victims</h5>
                                    <p class="card-text mb-0"><ul>
                                        <li>Volunteer and support anti-trafficking efforts in your community</li>
                                        <li>Be well-informed. Set up a web alert to receive current human trafficking news</li>
                                        <li>Use your social media platforms to raise awareness about human trafficking, using the following hashtags: #endtraffickingutah or #betheoneutah. Follow local, state, and national anti-trafficking social media accounts</li>
                                        <li>Become a mentor to a young person or someone in need</li>
                                    </ul></p>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
